{% extends 'base.html' %}

{% block content %}
 

<div class="container">
    <div class="row">
   {% include 'includes/dasboard_sidebar.html' %}
    <main class="col-md-9">
        <article class="card">
         
        <div class="card-body">
            <div class="row"> 
              <div class="col-md-6">
                <div class="card" style="text-align: center;">
                    <div class="card-body">
                        <form  method="post">
                            {% csrf_token %}
                            
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Update Details</button>
                        </form> 
                    </div>
                </div>
              </div>
                    
                 
            </div> <!-- row.// -->
        </div> <!-- card-body .// -->
         
        </article> <!-- order-group.// --> 
    </main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}